[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mamba = "*"
doublex = "*"
doublex-expects = "*"
expects = "*"
sdcclient = {editable = true,path = "."}

[packages]
requests = "*"
pyaml = "*"
requests-toolbelt = "*"

[requires]
python_version = "3.8"
