[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mamba = "*"
doublex = "*"
doublex-expects = "*"
expects = "*"
flake8 = "*"
pipenv-setup = "*"
sdcclient = {editable = true, path = "."}
coverage = "*"

[packages]
requests = ">=2.23.0"
pyaml = "*"
requests-toolbelt = "*"
tatsu = "*"
urllib3 = ">=1.25.8"

[requires]
python_version = "3.8"
